* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Inter", system-ui, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}